{{!-- {{#each this}}
  <div class='card-movie-library modal-open'>
    <img class='card-movie-library__img' src='{{backdrop_path}}' alt='{{original_title}}' />
    <div class='card-movie-library__section'>
      <h1 class='card-movie-library__title'>{{original_title}}</h1>
      <div class='card-movie-library__desc'>
        <ul>
          <li class='card-movie-library__item'>{{genres}} | </li>
          <li class='card-movie-library__item'>{{release_date}}</li>
          <li class='card-movie-library__item card-movie-library__item-fill'>{{vote_average}}</li>
        </ul>
      </div>
    </div>
  </div>
{{/each}} --}}